*{
}

html{
  scroll-behavior: smooth;
}

.body{
  background: #fcfcfc;
  font-family: sans-serif;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(to left bottom, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
    height: 100%; 
}

.cards2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to left top, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 300px;
    margin: 50px;
    /*  perspective: 1000px; Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.9);
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.9);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image: radial-gradient(circle, #d3d3d3, #c5c5c5, #b8b8b8, #ababab, #9e9e9e);
    color: white;
    transform: rotateY(180deg);
  }

 /* Button on Cards  */
  .a {
    background-color: #ffffff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
  }
  
  
  a:hover, a:active {
    background-color: rgb(227, 221, 221);
  }

  
 

  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

   /* Instagram */
   .fa-instagram {
    background: #C13584;
    color: white;
  }

  /* Link Page */
  .fa-house {
    background-image: linear-gradient(to right top, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
    color: white;
  }

  /* FOOTER */

.footer-home{
  color: #FFF;
  height: 400px;
}


.footer, .footer-home {
text-align: center;
background-color: #ababab;
bottom: 0;
width: 100%;
overflow: hidden;
letter-spacing: 2.5px;
}

.footer-info{
 width: 90%;
 margin: 50px auto 0%;
 font-size: 16px;
}

.footer-personal-info {
  flex-direction: column;
}

.footer-info, .footer-personal-info {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

.footer-info a {
  color: #dfe0d4;
  text-decoration: none;
}

a:-webkit-any-link{
  cursor: pointer;
}


.Map{
  padding: 15px;
}

/** NAV BAR **/


  
  body {
  margin: 0px;
  font-family: 'segoe ui';
  }
  
  .nav {
  height: 50px;
  width: 100%;
  background-color: #87684e;
  }

  .nav > .nav-header {
    display: inline;
    }
    
    .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    }
    
    .nav > .nav-btn {
    display: none;
    }
    
    .nav > .nav-links {
    display: inline;
    float: right;
    z-index: 9;
    font-size: 18px;
    }
    
    .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav > #nav-check {
    display: none;
    }


    @media (max-width:600px) {
      .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      }
      .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
      }
      .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: rgb(234,212,189);
      background: linear-gradient(7deg, rgba(234,212,189,1) 0%, rgba(204,175,140,1) 24%, rgba(191,161,124,1) 64%, rgba(135,104,78,1) 98%);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      }
      .nav > .nav-links > a {
      display: block;
      width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
      height: calc(28vh - 50px);
      overflow-y: auto;
      }
      }