body{
    /* background: linear-gradient(210deg, #565656, #ababab, #ffffff, #ababab); */
    color:#ffffff;
}

img{
    width: 350px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

.crab{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border-style: groove;
    border-width: auto;
    border-color: #ABABAB;
    background:linear-gradient(300deg, #ABABAB, #e1e1e1, #f6f6f6, #c4c4c4, #e7e7e7)



}

p{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("./imgs/contactcincybridge.jpg");
    border: #565656 solid 1px;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #ffffff;
    text-shadow: #565656 1px 1px 1px;
    padding-bottom: 50px;

}

h2{
    font-size: 30px;
    text-align: center;
    font-style: italic;
}


.logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: #9b9b9b 1px 1px 1px;

}

.ducks{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    text-indent: auto;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    text-shadow: #9b9b9b 1px 1px 1px;
    /*column-count: 2;
    column-gap: 20px;
    column-rule: #9b9b9b solid 1px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: #9b9b9b;*/
    
}

.card-img-bottom{
   width:100%;
   height:20vw;
   object-fit: cover;
  
}

.card-text{
    color: #ABABAB;
}
