body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* event CSS */
body{
  background-image: linear-gradient(270deg, #5e5d5d , #bdbdbd , #5e5d5d);
}

.eventContainer {
margin-left: 35px;
}

.eventImage{
  width: 600px;
  box-shadow: 5px 5px 10px;
}

div{
  /* text-align: center; */
}

.eventGlass {   
width: 600px;
color:white;
text-align: center;
}

.eventFirst-txt {
  position:relative;
  top: 25px;
  left: 200px;
  width: 220px;
  color:black;
  text-align: center;


/* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.16);

}

.eventSecond-txt{
  position: relative;
  left: 25px;
  bottom: -65px;
  width: 550px;
  color: black;

  

/* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.16);

} 

.eventc6 {
  float: left;
  width: 50%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
   background-color: transparent;
   width: 600px;
   height: 315px;
   /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /*Remove this if you don't want the 3D effect */
   /* margin: 10px; */
   
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
   background-color: #bbb;
   color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
   background-image: url('./img/CincinnatiFlag_adobe_express.png');
   color: black;
   transform: rotateY(180deg);
   box-shadow: 5px 5px 10px;
  }
  /* end event.css */

  /* historical CSS */

  body{
    background-image: linear-gradient(270deg, #5e5d5d , #bdbdbd , #5e5d5d);;
}

.historicalContainer {
  margin-left: 35px;
}

.historicalImage{
    width: 600px;
    box-shadow: 5px 5px 10px;
}

.head{
    text-align: center;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 600px;
    height: 315px;
    /* border: 1px solid #f1f1f1; */
     perspective: 1000px;  /*Remove this if you don't want the 3D effect */
    margin: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image: url('./img/CincinnatiFlag_adobe_express.png');
    color: black;
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px;
  }


  .historicalGlass {   
    width: 600px;
    color:white;
    text-align: center;
    }
    
     .historicalFirst-txt {
        position:relative;
        top: 5px;
        left: 200px;
        width: 220px;
        color:black;
        text-align: center;
    
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    
    }
    
    .historicalSecond-txt{
      position: relative;
      left: 25px;
      bottom: -50px;
      width: 550px;
      color: black;
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    } 

    .historicalc6 {
     float: left;
     width: 50%; 
    }
    

  body{
    /* background-color: aqua; */
}
/* end historical CSS */

body{
  /* background: linear-gradient(210deg, #565656, #ababab, #ffffff, #ababab); */
  
}

img{
  width: 350px;
}

.container1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1{
  font-size: 50px;
  text-align: center;
  font-style: italic;
}

.crab{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city{
  width: 100%;
  height: 100%;
  margin: 0 auto;
 
  
  /*justify-content: center;
  align-items: center;*/
  border-radius: 30px;
  border-style: groove;
  border-width: auto;
  border-color: #ABABAB;
  /*background:linear-gradient(300deg, #ABABAB, #e1e1e1, #f6f6f6, #c4c4c4, #e7e7e7)*/



}

.chili{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}



p{
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("./img/contactcincybridge.jpg");
  border: #565656 solid 1px;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: #ffffff;
  text-shadow: #565656 1px 1px 1px;
  padding-bottom: 50px;

}

h2{
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

.card{
  height: 600px !important;

}

.logo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: #9b9b9b 1px 1px 1px;
  background-color: #565656;
  border-radius: 0px;
  border-style: groove;
  border-width: auto; 
  border-color: #ABABAB;
  color: #181818;
  text-align: center;
  font-weight: bold;
  
  
  
  
  /*padding-bottom: 50px;*/
  box-shadow: inset 0 0 10px #9b9b9b;



}

.ducks{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  text-indent: auto;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  text-shadow: #9b9b9b 1px 1px 1px;
  /*column-count: 2;
  column-gap: 20px;
  column-rule: #9b9b9b solid 1px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: #9b9b9b;*/
  
}

.card-img-bottom{
 width:100%;
 height:20vw;
 object-fit: cover;

}

.card-text{
  color: #ABABAB;
}

body{
  background: /*#fec7bb*/ /*#686868*/  /*linear-gradient(30deg, #4f4f4f, #a3a3a3, #7a7a7a, #a7a7a7)*/linear-gradient(to left top, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
  background-repeat: no-repeat;
  
 

  
}

.navbar-nav li a{
z-index:999 !important;
}

.boba{
  position: relative;

}

/* .cincy{
  position: relative;
  background-color:/*linear-gradient(30deg, #4f4f4f, #a3a3a3, #7a7a7a, #a7a7a7)*/ 
 /*
  color: #e7e7e7;
  margin-top: 0;
  opacity: 0.8;
  border-radius: 0px;
  border-style: groove;
  border-width: auto;
  border-color: #ABABAB;
  text-align: center;
  font-size: 20px;


} */

.ice{
  /*position: relative;*/
  /*background-color:#ABABAB;*/
  
  margin: 0;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  background-color:#646464;
  color: #000000;
  text-shadow: #646464 1px 1px 1px;
  margin-top: 0;
  opacity: 0.7; 
  border-radius: 0px;
  border-style: groove;
  border-width: auto;
 

}



.grippos{
   background-image: url("./img/cincyheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.sausage{
 opacity: 0.8;
}

.navbar:hover{
  color: red;
  opacity: 1;
  text-shadow: #9b9b9b 1px 1px 1px;

}
 /*li:hover{
  color: red;
  opacity: 1;
  text-shadow: #9b9b9b 1px 1px 1px;


}*/
.ramen{
margin: 0;
}

#grid{
  
 
}

nav{
  z-index:3;
}
 
 */
  /* FOOTER */
  footer{
    z-index:4;
   
  
  }


.footer-home{
  color: #FFF;
  height: 400px;
  display: flex !important;
  flex-direction: row !important;
  justify-content:space-between !important;
  
}


.footer, .footer-home {
/*text-align: center;*/
background-color: #ababab;
bottom: 0;
width: 100%;
overflow: hidden;
letter-spacing: 2.5px;



}

.footer-info{
 width: 90%;
 margin: 50px auto 0%;
 font-size: 16px;
 
}

.footer-personal-info {
  flex-direction: column;
 

 
}

.footer-info, .footer-personal-info {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  
}

.footer-info a {
  color: #dfe0d4;
  text-decoration: none;
}
.salsa{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: #9b9b9b 1px 1px 1px;
  background-color: #565656;
  border-radius: 0px;
  border-style: groove;
  border-width: auto; 
  border-color: #ABABAB;
  color: #181818;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

/*attraction css card and hover codes */
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(to left bottom, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
  height: 100%; 
}

.cards2{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
background-image: linear-gradient(to left top, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  margin: 50px;
  /*  perspective: 1000px; Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.9);
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
  box-shadow: 0px 0px 32px -1px rgba(0, 0, 0, 0.9);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-image: radial-gradient(circle, #d3d3d3, #c5c5c5, #b8b8b8, #ababab, #9e9e9e);
  color: white;
  transform: rotateY(180deg);
}

/* Button on Cards  */
.a {
  background-color: #ffffff;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
}


a:hover, a:active {
  background-color: rgb(227, 221, 221);
}




/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

 /* Instagram */
 .fa-instagram {
  background: #C13584;
  color: white;
}

/* Link Page */
.fa-house {
  background-image: linear-gradient(to right top, #c0a788, #ccb69a, #d7c5ad, #e3d4c0, #efe3d4, #f0e9db, #f2eee2, #f5f3ea, #eeefe7, #e8eae5, #e3e5e2, #dfe0df);
  color: white;
}



a:-webkit-any-link{
cursor: pointer;
}


.Map{
padding: 15px;
width: 100vw !important;


}















